<h2>Previous Events:</h2>
  <ul class="card"> <% @previous_events.each do |event| %>
      <li id='event-<%= event.id %>'>
        <article class="card-body">
          <div class="card-title"><%= event.name %></div>
          <div class="data-card">
            <div class="timestamp">
              Created <%= time_ago_in_words(event.created_at) %>  ago by: <%= event.creator.name%>
            </div>
          </div>
        </article>
      </li>
    <%end%>
  </ul>