<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<section class="col-4 card text-center py-3 mb-5 mx-auto">
  <div class="icon">
    <i class="fas fa-user-circle"></i>
  </div>
  <h6 class='text-center'>
    <%= @user.name %>
  </h6>
</section>